@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);

*{
    font-family: ;"Montserrat", sans-serif;
    box-sizing:border-box;
}

body{
    background:linear-gradient(to right,#1F1D36,#3F3351) ;
    color:white;
}

.container{
    width: 90%;
    margin-left: 5%;
}

.header{
    text-align: center;
    margin: 3rem 0;
}

.header h1,h3{
    color:#E9A6A6;
    margin: 0;
    margin-top:0.5rem ;
}

.header h3{
    color:#864879
}

.filter{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.filter input{
    color: white;
    border: 1.5px solid #5CB8E4;
    background-color: #E5D4FF;
    border-radius: 20px;
    width:400px;
    font-size: 24px;
    outline:none ;
    padding: 0.5rem;
}

.filter_catogories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.filter_catogories li{
    border: 1px solid #5CB8E4;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}